*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
gradlew.bat
gradle
gradlew
.idea
/app/src/androidTest/java/com/habitree/xueshu/
/app/src/test/java/com/habitree/xueshu/
