<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habitree.xueshu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".xs.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_denglv"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SendAuthCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.HabitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.PlantTreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.HabitSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".punchcard.activity.RepeatDayActivity" />
        <activity android:name=".punchcard.activity.SupervisionSettingActivity" />
        <activity
            android:name=".punchcard.activity.ChooseSupervisorActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".punchcard.activity.SendRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.TimeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.ForfeitSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.TransactionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.PaymentRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SignedInNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.HabitOngoingOrNotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyHabitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.MyFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".message.activity.FriendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".message.activity.FriendForestActivity" />
        <activity android:name=".message.activity.MessageDetailActivity" />
        <activity android:name=".message.activity.HabitInviteActivity"></activity>
    </application>

</manifest>