<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habitree.xueshu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".xs.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_denglv"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置环信应用的AppKey 开始 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1135180305253419#habitree" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 设置环信应用的AppKey 结束 -->

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SendAuthCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.HabitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.PlantTreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.HabitSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".punchcard.activity.RepeatDayActivity" />
        <activity android:name=".punchcard.activity.SupervisionSettingActivity" />
        <activity
            android:name=".punchcard.activity.ChooseSupervisorActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".punchcard.activity.SendRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.TimeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.ForfeitSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".punchcard.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.TransactionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.PaymentRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SignedInNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.HabitOngoingOrNotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyHabitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.MyFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".message.activity.FriendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".message.activity.FriendForestActivity" />
        <activity android:name=".message.activity.MessageDetailActivity" />
        <activity android:name=".message.activity.HabitInviteActivity" />
        <activity android:name=".mine.activity.MyInfoActivity" />
        <activity android:name=".message.activity.PendingMattersActivity"></activity>
    </application>

</manifest>